<h2 class="page-header">Edit user:</h2>
<form>
  <input [(ngModel)]="user.name" placeholder="name" name="name">
  <input [(ngModel)]="user.surname" placeholder="surname" name="surname">
  <input [(ngModel)]="user.sex" placeholder="gender" name="gender">
  <input [(ngModel)]="user.email" placeholder="email" name="email">
  <input [(ngModel)]="user.city" placeholder="city" name="city">
  <input [(ngModel)]="user.street" placeholder="street" name="street">
  <input [(ngModel)]="user.street_number" placeholder="street number" name="street number">

  <button class="add-user" (click)="updateUser()">edit user</button>
</form>

<form [formGroup]="editForm">

  <div class="form-group">
    <input class="form-control" placeholder="name" formControlName="name">
    <input class="form-control" placeholder="surname" formControlName="surname">
    <input class="form-control" placeholder="sex" formControlName="sex">
    <input class="form-control" placeholder="email" formControlName="email">
    <input class="form-control" placeholder="city" formControlName="city">
    <input class="form-control" placeholder="street" formControlName="street">
    <input class="form-control" placeholder="street_number" formControlName="street_number">

    <button class="add-user" (click)="updateUser()">edit user</button>
  </div>

</form>

<p>Name value: {{ editForm.value | json }}</p>

<app-messages></app-messages>
