form
{
  margin-bottom: 50px;
}

input, .select
{
  width: 300px;
  height: 40px;
  display: block;
  margin: 0px auto 10px auto;
  box-sizing: border-box;
  padding: 0px 10px;
  transition: transform 200ms ease-in-out;
  border: none;
  border-left: 4px solid #2c2c2c;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}

input:focus
{
  transform: translateX(3px);
}

.add-user
{
  display: block;
  margin: 20px auto 0px auto;
  cursor: pointer;
  width: 100px;
  height: 30px;

  border: 2px solid #78BBFF;
  background: transparent;
  transition: all 100ms linear;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  border-radius: 4px;
}

.add-user:hover
{
  background: #78BBFF;
  color: white;
}

.page-header
{
  text-align: center;
}

.form-status {
  text-align: center;
  text-transform: uppercase;
}
