.flex-parent
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 80vw;
}

.flex-child
{
  width: 300px;
  margin: 0px 20px 40px 20px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  transition: transform 200ms ease-in-out;
  background: white;
}

.flex-child:hover
{
  transform: scale(1.05);
  cursor: pointer;
}

.user-header
{
  margin: 0px;
  display: block;
  background: #2c2c2c;
  width: 300px;
  text-align: center;
  color: white;
  height: 30px;
  line-height: 30px;
  border-radius: 5px 5px 0px 0px;
}

.user-info-container
{
  width: 300px;
  display: flex;
  align-items: center;
}

.avatar
{
  width: 80px;
  height: 80px;
  display: inline-block;
}

.user-info
{
  display: inline-block;
  width: 220px;
  margin: 0;
  padding: 5px 10px;
  box-sizing: border-box;
  height: 80px;
}

p
{
  margin: 0;
}


.delete-pop-up {
  /*height: 150px;
  width: 300px;*/
  height: 0px;
  width: 0px;
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);


  background: white;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
  border-radius: 5px;
  padding: 25px 50px;

  transition: height 2000ms;
}

.pop-up-header {
  text-align: center;
}

.button-container {
  margin: 0 auto;
  width: 260px;
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}

.button {
  display: block;
  margin: 20px auto 0px auto;
  cursor: pointer;
  width: 100px;
  height: 30px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);

  border: 2px solid rgb(2, 194, 50);
  background: white;
  transition: all 100ms linear;
}

.yes {
  border: 2px solid rgb(2, 194, 50);
  background: white;
  transition: all 100ms linear;
}

.no {
  border: 2px solid orangered;
  background: white;
  transition: all 100ms linear;
}

.yes:hover {
  background: rgb(2, 194, 50);
  color: white;
}

.no:hover {
  background: orangered;
  color: white;
}

.pop-up-shown {
  width: 300px;
  height: 150px;
}

