<div class="flex-parent">
  <div *ngFor="let user of users; let i = index" class="flex-child">
    <h3 class="user-header" *ngIf="user.id !== undefined">{{user.name}} {{user.surname}}</h3>

    <div class="user-info-container" *ngIf="user.id !== undefined">
      <img *ngIf="user.sex === 'female'" class="avatar" src="http://newsroom.almonds.com/sites/default/files/2015-12/avatar-placeholder-female_6_0.jpg" />

      <img *ngIf="user.sex === 'male'" class="avatar" src="https://s.financesonline.com/media/themes/apps/images/img_placeholder_avatar.jpg" />
      <div class="user-info">
        <p>{{user.email}}</p>
        <p><strong>Address:</strong></p>
        <p>{{user.city}},</p>
        <p>{{user.street_number}} {{user.street}}</p>
      </div>
    </div>
    <div class="button-container" style="margin-bottom: 20px;">
      <a routerLink="/detail-view/{{i}}">
        <button class="button neutral" ><i class="material-icons">launch</i>details</button>
      </a>
      <button class="button neutral" (click)="showPop(i)"><i class="material-icons">delete</i>delete</button>
    </div>
  </div>
</div>

<div *ngIf="showPopUp" class="blur-background">
  <div class="delete-pop-up" [ngClass]="(showPopUp)? 'pop-up-shown' : ''">
    <h3 class="pop-up-header">Are you sure you want to delete this user?</h3>

    <div class="button-container">
      <button class="button neutral" (click)="deleteUser(selectedUser)">YES</button>
      <button class="button neutral" (click)="showPop(-1)">NO</button>
    </div>
  </div>
</div>

<!-- <app-messages></app-messages> -->
