body
{
  margin: 0;
}

h1,h2,h3,h4,h5,h6, ol
{
  width: fit-content;
}

.page-header
{
  text-align: center;
  width: 100%;
}

/*
.wrapper
{
  padding: 30px 100px 50px 100px;
  margin: 30px auto;
  width: fit-content;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.2);

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
*/

.wrapper {
  width: 100vw;
  min-height: calc(100vh - 50px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
