.column-wrapper {
  width: 100vw;
  height: calc(100vh - 50px);

  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.column {
  height: 100%;
  position: relative;
}

.left {
  background: #78BBFF;
  width: 45%;
  position: relative;
}

.right {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right::before {
  content: "";
  display: block;
  position: absolute;
  background: white;
  width: 100%;
  height: 100%;
  transform: skew(160deg);
  left: -18%;
}

.content-container {
  position: absolute;
  z-index: 100;
  width: 450px;
  height: 500px;
  background: transparent;
  left: 55%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.lp-header {
  letter-spacing: 2px;
  font-size: 34px;
  text-align: left;
  width: 100%;
  margin: 0;
}

.text {
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.lp-button {
  width: 300px;
  height: 50px;
  background: transparent;
  border: 3px solid #2c2c2c;
  text-transform: uppercase;
  font-size: 24px;
  transition: all 200ms ease-in-out;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.lp-button:hover {
  background: #78BBFF;
  color: white;
  cursor: pointer;
  border: 3px solid transparent;
}

.arrow {
  font-size: 36px;
}

.data-img {
  position: relative;
  z-index: 100;
  max-width: 512px;
  max-height: 512px;
  width: 100%;
  height: 100%;
}
