<div class="column-wrapper">
  <div class="column left">
    <div class="content-container">

      <h1 class="lp-header">Welcome to DATA.base</h1>
      <div class="text">
        <p>Lorem ipsum, dolor sit amet conse ctetur adipisicing elit. Maiores tempore animi iusto illum rerum quisquam. Ex itaque suscipit ea officia nostrum soluta corporis ullam eos eum, temporibus nobis facere alias aliquam numquam. At, laborum alias. Repudiandae ipsum possimus sequi quaerat dolor error.</p>
      </div>

      <a routerLink="/table-view">
        <button class="lp-button">
          get started
          <i class="material-icons arrow">trending_flat</i>
        </button>
      </a>
    </div>
  </div>

  <div class="column right">
    <img class="data-img" src="../../assets/data.png">
  </div>
</div>

