.list-header
{
  text-align: center;
  width: 100%;
}

.user-header
{
  margin-bottom: 0px;
  display: block;
  background: #2c2c2c;
  width: 300px;
  text-align: center;
  color: white;
  height: 30px;
  line-height: 30px;
  border-radius: 5px 5px 0px 0px;
}

.child-list
{
  list-style-type: none;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  width: 300px;
  padding-left: 0px;
  position: relative;
  padding-bottom: 10px;
  background: white;
  border-radius: 5px;
}

.parent-list
{
  list-style-type: none;
  padding-left: 0px;
}

.parent-list > li
{
  display: block;
  margin-left: 25px;
}

.attribute
{
  font-weight: bold;
}

.user-info
{
  padding: 3px 10px;
}

.delete-user
{
  display: block;
  cursor: pointer;
  width: 100px;
  height: 30px;

  border: 2px solid orangered;
  background: transparent;
  transition: all 100ms linear;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  border-radius: 4px;
}

.delete-user:hover
{
  background: orangered;
  color: white;
}

.edit {
  border: 2px solid #142BCC;
  color: black;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

a {
  text-decoration: none;
}

.edit:hover {
  background: #142BCC;
  color: white;
}

.blur-background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  background: rgba(0,0,0,0.5);
}


.delete-pop-up {
  /*height: 150px;
  width: 300px;*/
  height: 0px;
  width: 0px;
  position: fixed;
  z-index: 9999;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);

  background: white;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
  border-radius: 5px;
  padding: 25px 50px;

  transition: height 2000ms;
}

.pop-up-header {
  text-align: center;
}

.button-container {
  margin: 0 auto;
  width: 260px;
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}

.button {
  display: block;
  margin: 20px auto 0px auto;
  cursor: pointer;
  width: 100px;
  height: 30px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);

  border: 2px solid rgb(2, 194, 50);
  background: white;
  transition: all 100ms linear;
}

.yes {
  border: 2px solid rgb(2, 194, 50);
  background: white;
  transition: all 100ms linear;
}

.no {
  border: 2px solid orangered;
  background: white;
  transition: all 100ms linear;
}

.yes:hover {
  background: rgb(2, 194, 50);
  color: white;
}

.no:hover {
  background: orangered;
  color: white;
}

.pop-up-shown {
  width: 300px;
  height: 150px;
}
