  <h2 class="list-header">List of users:</h2>

  <ol class="parent-list">
    <li *ngFor="let user of users; let i = index">
      <ul class="child-list">
        <h4 class="user-header">{{user.name}} {{user.surname}}</h4>
        <li class="user-info">
          <span class="attribute">id:</span> {{user.id}}
        </li>
        <li class="user-info">
          <span class="attribute">email:</span> {{user.email}}
        </li>
        <button class="delete-user"  (click)="showPop(i)">delete</button>
        <a routerLink="/edit-user/{{i}}">
          <button class="delete-user edit">edit</button>
        </a>
      </ul>
    </li>
  </ol>

  <div *ngIf="showPopUp" class="blur-background">
    <div class="delete-pop-up" [ngClass]="(showPopUp)? 'pop-up-shown' : ''">
      <h3 class="pop-up-header">Are you sure you want to delete this user?</h3>

      <div class="button-container">
        <button class="button yes" (click)="deleteUser(selectedUser)">YES</button>
        <button class="button no" (click)="showPop(-1)">NO</button>
      </div>
    </div>
  </div>

  <app-messages></app-messages>
