#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("http://source.unsplash.com/daily");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

#content {
  width: 70vw;
  height: 70vh;
  background: rgba(255,255,255,0.95);
  box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
  position: fixed;
  top: calc(50% + 50px);
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}

.column {
  width: 45%;
  box-sizing: border-box;
  padding: 20px 30px;
  max-height: 480px;
}

.right, img {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  background: rgba(255,255,255,0.5);
  height: inherit;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left {
  padding: 0;
}

img {
  display: block;
  margin: 0 auto;
  width: auto;
  max-width: 600px;
  max-height: inherit;
  height: 100%;
}

.user-name {
  padding: 0px;
  margin: 0;
  width: fit-content;
  position: relative;
  margin-bottom: 20px;
}

.user-name::after {
  content: "";
  bottom: -10px;
  display: block;
  position: absolute;
  width: 50%;
  height: 4px;
  left: 50%;
  transform: translateX(-50%);
  background: #78BBFF;
}

.material-icons {
  margin-right: 10px;
}

.text-icon-container {
  display: flex;
  align-items: center;
}

blockquote {
  border-left: 4px solid #2C2C2C;
  background: rgba(250,250,250,1);
  box-sizing: border-box;
  padding: 5px 0px;
  padding-left: 40px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  margin: 0px 35px;
}

.user-info {
  margin: 5px;
}

.bio {
  margin-top: 0px;
}

.bio-header {
  font-size: 20px;
}
