/* You can add global styles to this file, and also import other style files */
body
{
  margin: 0;
}

.invalid {
  /*border-top: 1px solid red;
  border-right: 1px solid red;
  border-bottom: 1px solid red;*/
  box-shadow: 0px 0px 10px rgba(255,0,0,0.5) !important;
}
