/* You can add global styles to this file, and also import other style files */
body
{
  margin: 0;
  position: relative;
  overflow-x: hidden;
}

.invalid {
  /*border-top: 1px solid red;
  border-right: 1px solid red;
  border-bottom: 1px solid red;*/
  box-shadow: 0px 0px 2px rgba(255,0,0,0.7) !important;
}
