.add-user-wrapper {
  width: 50vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

input, .select
{
  width: 300px;
  height: 40px;
  display: block;
  margin: 0px auto 10px auto;
  box-sizing: border-box;
  padding: 0px 10px;
  transition: transform 200ms ease-in-out;
  border: none;
  border-left: 4px solid #2c2c2c;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  font-size: 16px;
}

input:focus
{
  transform: translateX(3px);
}

.new-user-container
{
  width: 300px;
  height: 110px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  display: block;
  background: white;
  border-radius: 0px 0px 5px 5px;
}

.flex-child:hover
{
  transform: scale(1.05);
  cursor: pointer;
}

.user-header
{
  margin: 0px;
  display: block;
  background: #2c2c2c;
  width: 300px;
  text-align: center;
  color: white;
  height: 30px;
  line-height: 30px;
  border-radius: 5px 5px 0px 0px;
}

.user-info-container
{
  width: 300px;
  display: flex;
  align-items: center;
}

.avatar
{
  width: 80px;
  height: 80px;
  display: inline-block;
}

.user-info
{
  display: inline-block;
  width: 220px;
  margin: 0;
  padding: 5px 10px;
  box-sizing: border-box;
  height: 80px;
}

p
{
  margin: 0;
  font-size: 14px;
}

.add-user
{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px auto 0px auto;
  cursor: pointer;
  width: 150px;
  height: 40px;
  border-radius: 4px;

  border: 2px solid #78BBFF;
  background: white;
  transition: all 100ms linear;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.add-user:hover
{
  background: #78BBFF;
  color: white;
}

.page-header
{
  text-align: center;
}

.material-icons {
  margin-left: -5px;
}
