form
{
  margin-bottom: 50px;
}

input
{
  width: 200px;
  height: 30px;
  display: block;
  margin: 0px auto 10px auto;
  box-sizing: border-box;
  padding: 0px 10px;
  transition: transform 200ms ease-in-out;
  border: none;
  border-left: 4px solid #2c2c2c;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}

input:focus
{
  transform: translateX(3px);
}

.new-user-container
{
  width: 300px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  display: block;
  margin: 0 auto;
}

.flex-child:hover
{
  transform: scale(1.05);
  cursor: pointer;
}

.user-header
{
  margin: 0px;
  display: block;
  background: #2c2c2c;
  width: 300px;
  text-align: center;
  color: white;
  height: 30px;
  line-height: 30px;
}

.user-info-container
{
  width: 300px;
  display: flex;
  align-items: center;
}

.avatar
{
  width: 80px;
  height: 80px;
  display: inline-block;
}

.user-info
{
  display: inline-block;
  width: 220px;
  margin: 0;
  padding: 5px 10px;
  box-sizing: border-box;
  height: 80px;
}

p
{
  margin: 0;
}

.add-user
{
  display: block;
  margin: 20px auto 0px auto;
  cursor: pointer;
  width: 100px;
  height: 30px;

  border: 2px solid rgb(2, 194, 50);
  background: transparent;
  transition: all 100ms linear;
}

.add-user:hover
{
  background: rgb(2, 194, 50);
  color: white;
}

.page-header
{
  text-align: center;
}
